@charset "utf-8";

.num_btns{
	background: skyblue;
	border:0.2rem solid #99e;
	border-radius:2rem;
	width:2rem;
	text-align:center;
	float:left;
	cursor:pointer;
	color:white;
	margin:0.1rem;
	display:block;
}